body {
  background: linear-gradient(red, yellow);
  text-align: center;
  color: blue;
  background-size: center;
  height: 100%;
}

#gameboard {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 100%;
}



#conan-div #conan-pic {
  width: 600px;
  height: 400px;
}

#guy-div #guy-pic {
  width: 600px;
  height: 400px;
}

#guy-div, #conan-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scoreboard {
  width: 400px;
  height: 30px;
  background-color: black;
  margin: 0 auto;
}

button {
  width: 200px;
}
